{{define "yield"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <p>{{.Name}}</p>
                        <p>{{.Email}}</p>
                        <a href="/accounts/{{.ID}}/update" class="btn btn-info" role="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
